In [2]:
from assets.database import db_session
from assets.database import init_db
from assets.models import Data

import datetime

In [3]:
init_db()

2022-03-15 19:41:28,477 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-15 19:41:28,486 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("data")
2022-03-15 19:41:28,489 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-15 19:41:28,493 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("data")
2022-03-15 19:41:28,496 INFO sqlalchemy.engine.Engine [raw sql] ()
2022-03-15 19:41:28,501 INFO sqlalchemy.engine.Engine
CREATE TABLE data (
	id INTEGER NOT NULL,
	date DATE,
	subscribers INTEGER,
	reviews INTEGER,
	timestamp DATETIME,
	PRIMARY KEY (id)
)


2022-03-15 19:41:28,504 INFO sqlalchemy.engine.Engine [no key 0.00258s] ()
2022-03-15 19:41:28,515 INFO sqlalchemy.engine.Engine COMMIT

## Create

In [4]:
date = datetime.date.today()
date

datetime.date(2022, 3, 15)

In [5]:
row = Data(date=date, subscribers=3500, reviews=200)

In [6]:
row

In [7]:
row.date

datetime.date(2022, 3, 15)

In [8]:
row.subscribers

3500

In [9]:
db_session.add(row)

In [10]:
db_session.commit()

2022-03-15 19:46:45,609 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-15 19:46:45,614 INFO sqlalchemy.engine.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2022-03-15 19:46:45,616 INFO sqlalchemy.engine.Engine [generated in 0.00243s] ('2022-03-15', 3500, 200, '2022-03-15 19:41:04.541932')
2022-03-15 19:46:45,624 INFO sqlalchemy.engine.Engine COMMIT

In [12]:
row1 = Data(date=date, subscribers=6500,reviews=210)
row2 = Data(date=date, subscribers=1500,reviews=220)

In [13]:
db_session.add(row1)
db_session.add(row2)

In [15]:
db_session.commit()

2022-03-15 19:49:20,088 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-15 19:49:20,091 INFO sqlalchemy.engine.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2022-03-15 19:49:20,094 INFO sqlalchemy.engine.Engine [cached since 154.5s ago] ('2022-03-15', 6500, 210, '2022-03-15 19:41:04.541932')
2022-03-15 19:49:20,104 INFO sqlalchemy.engine.Engine INSERT INTO data (date, subscribers, reviews, timestamp) VALUES (?, ?, ?, ?)
2022-03-15 19:49:20,106 INFO sqlalchemy.engine.Engine [cached since 154.5s ago] ('2022-03-15', 1500, 220, '2022-03-15 19:41:04.541932')
2022-03-15 19:49:20,109 INFO sqlalchemy.engine.Engine COMMIT

## Read

In [18]:
db_session.query(Data).all()

2022-03-15 19:50:25,088 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-15 19:50:25,094 INFO sqlalchemy.engine.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2022-03-15 19:50:25,096 INFO sqlalchemy.engine.Engine [generated in 0.00183s] ()

[<assets.models.Data at 0x2295ff03eb0>,
 <assets.models.Data at 0x229630a9040>,
 <assets.models.Data at 0x229630a9250>]

In [20]:
db_session.query(Data).all()[0].subscribers

2022-03-15 19:50:56,625 INFO sqlalchemy.engine.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2022-03-15 19:50:56,627 INFO sqlalchemy.engine.Engine [cached since 31.53s ago] ()

3500

In [22]:
datum = db_session.query(Data).all()[0]
datum

2022-03-15 21:06:12,114 INFO sqlalchemy.engine.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2022-03-15 21:06:12,117 INFO sqlalchemy.engine.Engine [cached since 4547s ago] ()

In [23]:
datum.subscribers = 10000

In [24]:
db_session.add(datum)
db_session.commit()

2022-03-15 21:06:53,244 INFO sqlalchemy.engine.Engine UPDATE data SET subscribers=? WHERE data.id = ?
2022-03-15 21:06:53,247 INFO sqlalchemy.engine.Engine [generated in 0.00324s] (10000, 1)
2022-03-15 21:06:53,252 INFO sqlalchemy.engine.Engine COMMIT

In [25]:
db_session.query(Data).all()[0].subscribers

2022-03-15 21:07:20,066 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-15 21:07:20,069 INFO sqlalchemy.engine.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2022-03-15 21:07:20,072 INFO sqlalchemy.engine.Engine [cached since 4615s ago] ()

10000

## Delete

In [27]:
datum = db_session.query(Data).filter_by(subscribers = 10000).one()

2022-03-15 21:09:03,273 INFO sqlalchemy.engine.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
WHERE data.subscribers = ?
2022-03-15 21:09:03,276 INFO sqlalchemy.engine.Engine [cached since 15.12s ago] (10000,)

In [28]:
db_session.delete(datum)
db_session.commit()

2022-03-15 21:09:39,489 INFO sqlalchemy.engine.Engine DELETE FROM data WHERE data.id = ?
2022-03-15 21:09:39,492 INFO sqlalchemy.engine.Engine [generated in 0.00265s] (1,)
2022-03-15 21:09:39,500 INFO sqlalchemy.engine.Engine COMMIT

In [29]:
db_session.query(Data).all()

2022-03-15 21:09:55,335 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2022-03-15 21:09:55,338 INFO sqlalchemy.engine.Engine SELECT data.id AS data_id, data.date AS data_date, data.subscribers AS data_subscribers, data.reviews AS data_reviews, data.timestamp AS data_timestamp
FROM data
2022-03-15 21:09:55,340 INFO sqlalchemy.engine.Engine [cached since 4770s ago] ()

In [30]:
Data.query.delete()

2022-03-15 21:10:26,052 INFO sqlalchemy.engine.Engine DELETE FROM data
2022-03-15 21:10:26,055 INFO sqlalchemy.engine.Engine [generated in 0.00242s] ()

2