In [1]:
from bs4 import BeautifulSoup
import requests

In [2]:
url='https://scraping-for-beginner.herokuapp.com/udemy'

In [3]:
r = requests.get(url)

In [4]:
soup = BeautifulSoup(r.text,'html.parser')

In [5]:
# soup

In [6]:
name = soup.select('.card-title')[0].string
name

'今西 航平'

In [7]:
n_subscribers = soup.select('.subscribers')[0].string
n_subscribers

'受講生の数：14777'

In [8]:
n_subscribers = int(n_subscribers.split('：')[1])
n_subscribers

14777

In [9]:
n_reviews = soup.select('.reviews')[0].string
n_reviews

'レビューの数：2584'

In [10]:
n_reviews=int(n_reviews.split('：')[1])
n_reviews

2584

In [21]:
results = {
    'name': name,
    'subscribers': n_subscribers,
    'reviews': n_reviews
}

In [12]:
results

{'name': '今西 航平', 'n_subscribers': 14777, 'n_reviews': 2584}

In [13]:
import pandas as pd

In [14]:
df = pd.read_csv('assets/data.csv')

In [15]:
df.head()

        date  subscribers  reviews
0  2019/1/17         2671      194
1  2019/1/18         2671      195
2  2019/1/19         2674      197
3  2019/1/20         2685      199
4  2019/1/21         2695      199

In [16]:
df.tail

<bound method NDFrame.tail of           date  subscribers  reviews
0    2019/1/17         2671      194
1    2019/1/18         2671      195
2    2019/1/19         2674      197
3    2019/1/20         2685      199
4    2019/1/21         2695      199
..         ...          ...      ...
751   2021/2/5        10753     1820
752   2021/2/6        10753     1824
753   2021/2/7        10756     1824
754   2021/2/8        10776     1826
755   2021/2/9        10796     1831

[756 rows x 3 columns]>

In [17]:
import datetime

In [18]:
datetime.datetime.today().strftime('%Y/%m/%d').replace('/O','/')

'2022/02/02'

In [26]:
subscribers = results['subscribers']
reviews = results['reviews']

In [27]:
subscribers

14777

In [28]:
reviews

2584

In [30]:
results=pd.DataFrame([[date,subscribers,reviews]],columns=['date','subscribers','reviews'])

In [32]:
df = pd.concat([df,results])
df.tail()

           date  subscribers  reviews
752    2021/2/6        10753     1824
753    2021/2/7        10756     1824
754    2021/2/8        10776     1826
755    2021/2/9        10796     1831
0    2022/02/02        14777     2584

In [33]:
df.to_csv('assets/data.csv',index=False)

-udemyから情報をとってくる関数（'get_udemy_info'）
-CSVに書き込む関数（write_data）

In [38]:
def get_udemy_info():
    url='https://scraping-for-beginner.herokuapp.com/udemy'

    r = requests.get(url)
    soup = BeautifulSoup(r.text,'html.parser')

    name = soup.select('.card-title')[0].string

    n_subscribers = soup.select('.subscribers')[0].string
    n_subscribers = int(n_subscribers.split('：')[1])

    n_reviews = soup.select('.reviews')[0].string
    n_reviews=int(n_reviews.split('：')[1])

    results = {
        'name': name,
        'subscribers': n_subscribers,
        'reviews': n_reviews
    }

    return results

In [42]:
get_udemy_info()['subscribers']

14777

In [43]:
def write_data():
    df = pd.read_csv('assets/data.csv')

    _results = get_udemy_info()


    date=datetime.datetime.today().strftime('%Y/%m/%d').replace('/O','/')
    subscribers = _results['subscribers']
    reviews = _results['reviews']
    results=pd.DataFrame([[date,subscribers,reviews]],columns=['date','subscribers','reviews'])

    df = pd.concat([df,results])
    df.to_csv('assets/data.csv',index=False)